.message-container {
    list-style: none;
    margin-left: 0;
    height: 100px; // 60vh later
    overflow: auto;

    & .message {
        padding: 6px;
        background: #f7f7f7;
        border: 1px solid #dedede;
    }
}