<div class="page-content pt-0">
  <div class="content-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="buyer-interest" *ngFor="let buyer of buyerInterests">
              <h3>{{buyer.userInfo.firstName + ' ' + buyer.userInfo.lastName}} showed interest in this property</h3>
              <div class="deal-details">
                <div class="contact-details">
                  <h4>Nithi Details</h4>
                  <ul>
                    <li>
                      <strong>First Name: </strong> {{buyer.userInfo.firstName}}
                    </li>
                    <li>
                      <strong>Last Name: </strong> {{buyer.userInfo.lastName}}
                    </li>
                    <li>
                      <strong>Mobile Number: </strong> {{buyer.userInfo.mobileNo}}
                    </li>
                    <li>
                      <strong>email: </strong> {{buyer.userInfo.email}}
                    </li>
                  </ul>
                </div>
                <div class="asset-details">
                  <h4>Asset Details</h4>
                  <ul>
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
