<div class="page-content pt-0 mt-4">
  <div class="content-wrapper">
    <div class="content">
      <section class="add-associate container">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="auctionForm" (ngSubmit)="registerAuction()">
              <app-content-header
                [header]="'Create E-Auction'"
              ></app-content-header>

              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label>Lender (Bank)</label>

                        <select formControlName="lenderId" class="form-control">
                          <option value="" style="display: none"
                            >Select Lender</option
                          >
                          <option
                            *ngFor="let lender of lenders"
                            value="{{ lender._id }}"
                            >{{ lender.bankName }}</option
                          >
                        </select>

                        <div
                          *ngIf="
                            control.lenderId.touched && control.lenderId.errors
                          "
                          class="error-message"
                        >
                          <div *ngIf="control.lenderId.errors.required">
                            Lender is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label>Property</label>

                        <select formControlName="assetId" class="form-control">
                          <option value="" style="display: none"
                            >Select Property</option
                          >
                          <option
                            *ngFor="let asset of lenderAsset"
                            value="{{ asset._id }}"
                            >{{ asset.assetType }}</option
                          >
                        </select>

                        <div
                          *ngIf="
                            control.assetId.touched && control.assetId.errors
                          "
                          class="error-message"
                        >
                          <div *ngIf="control.assetId.errors.required">
                            Property is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label>E-Auction Date</label>
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text"
                              ><i class="icon-calendar22"></i
                            ></span>
                          </span>
                          <input
                            type="text"
                            class="form-control daterange-single"
                            value="03/18/2013"
                            formControlName="auctionDate"
                          />


                        </div>
                        <div
                        *ngIf="
                          control.auctionDate.touched && control.auctionDate.errors
                        "
                        class="error-message"
                      >
                        <div *ngIf="control.auctionDate.errors.required">
                          E-Auction Date is required
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <div class="row jusity-content-center">
                      <div class="col-12 col-md-12 col-lg-12">
                          <div class="form-group">
                              <label>Description</label>
                              <textarea formControlName="description" class="form-control" rows="6"></textarea>
                          </div>
                      </div>
                  </div>

                  <div class="d-flex justify-content-end align-items-center">
                    <app-form-loader></app-form-loader>
                    <div class="d-flex">
                      <button
                        type="button"
                        class="btn bg-grey ml-3"
                        (click)="location.back()"
                      >
                        Back
                      </button>
                      <button
                        type="submit"
                        [disabled]="auctionForm.invalid"
                        class="btn bg-blue ml-3"
                      >
                        {{ isEdit ? "Update Auction" : "Create Auction" }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
