<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <img [src]="userInfo.src" class="rounded-circle" width="50" height="50" alt="">
      <div class="d-flex flex-column ml-2">
        <div class="username">
          <span class="card-title">{{ userInfo.name }}</span> - <span
            class="badge bg-success">{{ userInfo.role }}</span>
        </div>

        <div class="card-actions d-flex">
          <a href="#" class="ml-1 mr-1"><i class="fa fa-edit"></i> Edit</a> |
          <a href="#" class="ml-1 mr-1"><i class="fa fa-trash"></i> Delete</a>
        </div>
      </div>

    </div>

  </div>
</div>
