<!-- <div class="card">
    <div class="card-img-actions">
      <img class="card-img-top img-fluid" [src]="productInfo.src" alt="">
      <div class="card-img-actions-overlay card-img-top">
        <a class="btn btn-outline bg-white text-white border-white border-2" data-popup="lightbox">
          I am Interested
        </a>
        <a href="#" class="btn btn-outline bg-white text-white border-white border-2 ml-2">
          Details
        </a>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{productInfo.title}}</h5>
      <p class="card-text">{{ productInfo.description }}</p>
    </div>

    <div class="card-footer bg-transparent d-flex justify-content-between">
      <span class="text-muted">Last updated 3 mins ago</span>
      <span>
        <i class="icon-star-full2 font-size-base text-warning-300"></i>
        <i class="icon-star-full2 font-size-base text-warning-300"></i>
        <i class="icon-star-full2 font-size-base text-warning-300"></i>
        <i class="icon-star-full2 font-size-base text-warning-300"></i>
        <i class="icon-star-half font-size-base text-warning-300"></i>
        <span class="text-muted ml-2">(12)</span>
      </span>
    </div>
  </div> -->


<div class="property-block"> <a href="#" class="property-featured-image">
    <div class="overlay" style="line-height:0px"><i class="fa fa-search"></i></div> <img [src]="productInfo.src" alt="">
    <span class="images-count"><i class="fa fa-picture-o"></i> 2</span> <span class="badges">Rent</span>
  </a>
  <div class="property-info">
    <h4><a href="#">{{productInfo.title}}</a></h4>
    <span class="location"><i class="fa fa-map-marker"></i> {{productInfo.location}}</span>
    <div class="price"><strong>Rs.</strong><span>{{productInfo.price}}</span></div>
  </div>
  <div class="property-amenities clearfix"> <span class="area"><strong>{{productInfo.area}}</strong>Area</span> <span
      class="baths"><strong>{{productInfo.baths}}</strong>Baths</span> <span
      class="beds"><strong>{{productInfo.beds}}</strong>Beds</span> <span
      class="parking"><strong>{{productInfo.parking}}</strong>Parking</span> </div>
</div>
