<div class="card">
  <div class="card-img-actions">
    <img class="card-img-top img-fluid" src="../../../../assets/images/placeholders/placeholder.jpg" alt="">
    <div class="card-img-actions-overlay card-img-top">
      <a href="../../../../assets/images/placeholders/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2" data-popup="lightbox">
        Preview
      </a>
      <a href="#" class="btn btn-outline bg-white text-white border-white border-2 ml-2">
        Details
      </a>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">Top placement</h5>
    <p class="card-text">Default <code>top</code> placement - image always comes first in the card with text or other content below. Use <code>.card-img-top</code> image class to round top image corners.</p>
  </div>

  <div class="card-footer bg-transparent d-flex justify-content-between">
    <span class="text-muted">Last updated 3 mins ago</span>
    <span>
      <i class="icon-star-full2 font-size-base text-warning-300"></i>
      <i class="icon-star-full2 font-size-base text-warning-300"></i>
      <i class="icon-star-full2 font-size-base text-warning-300"></i>
      <i class="icon-star-full2 font-size-base text-warning-300"></i>
      <i class="icon-star-half font-size-base text-warning-300"></i>
      <span class="text-muted ml-2">(12)</span>
    </span>
  </div>
</div>
