<div class="page-content pt-0">
  <div class="content-wrapper">
    <div class="content">
      <section class="add-associate container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Asset Type</label>
                  <select [(ngModel)]="propertyType" class="form-control">
                    <option value="" style="display: none">Select</option>
                    <option *ngFor="let property of properties" value="{{property.name}}">{{property.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <ng-container [ngSwitch]="propertyType">
              <app-residential-flat *ngSwitchCase="'Resential Flat'"></app-residential-flat>
              <app-residential-house *ngSwitchCase="'Resential House'"></app-residential-house>
              <app-cars *ngSwitchCase="'Cars'"></app-cars>
              <app-commercial-building *ngSwitchCase="'Commercial Building'"></app-commercial-building>
              <app-lcv *ngSwitchCase="'Light Commercial Vehicle'"></app-lcv>
              <app-machinery *ngSwitchCase="'Machinery'"></app-machinery>
              <app-equipments *ngSwitchCase="'Equipments'"></app-equipments>
              <app-take-over *ngSwitchCase="'Takeover Offers'"></app-take-over>
              <app-stock-lots *ngSwitchCase="'Stock-Lots'"></app-stock-lots>
            </ng-container>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
