<div class="page-content pt-0">
  <div class="content-wrapper">
    <div class="content">
      <section class="add-associate container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4">
                <div class="form-group">
                  <label>Property Type</label>
                  <select [(ngModel)]="propertyType" class="form-control">
                    <option value="" style="display: none">Select</option>
                    <option *ngFor="let property of properties" value="{{property.name}}">{{property.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <ng-container [ngSwitch]="propertyType">
              <app-add-property *ngSwitchCase="'Property'"></app-add-property>
              <app-equipments *ngSwitchCase="'Equipments'"></app-equipments>
            </ng-container>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
