<div *ngIf="!isList" class="property-block"> <a href="#" class="property-featured-image">
    <div class="overlay" style="line-height:0px"><i class="fa fa-search"></i></div> <img
    [src]="productInfo.src || 'assets/images/placeholder.png'" alt="">
    <!-- <span class="images-count"><i class="fa fa-picture-o"></i> 2</span> <span class="badges">Buy</span> -->
  </a>
  <div class="property-info">
    <h4><a href="#">{{productInfo.assetType}}</a></h4>
    <span class="location"><i class="fa fa-map-marker"></i> {{productInfo.assetDetails.city}}</span>
    <div class="price"><strong>Rs.</strong><span>{{productInfo.assetDetails.fairRentalValue | currency: 'INR'}}</span></div>
    <div class="date-of-inclusion mt-1"><strong>Date: </strong>{{ productInfo.createdDate | date }}</div>
  </div>
  <div class="property-amenities clearfix">
    <span class="area" *ngFor="let fields of productInfo.displayFields | keyvalue">
      <strong>{{ fields.value }}</strong> {{ fields.key }}
    </span>
</div>
