<div class="page-header-content header-elements-md-inline">
  <div class="page-title d-flex">
    <h4>{{pageHeader}}</h4>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
  </div>

  <!-- <div class="header-elements d-none py-0 mb-3 mb-md-0">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
      <a href="#" class="breadcrumb-item">Content</a>
      <span class="breadcrumb-item active">Page header</span>
    </div>
  </div> -->
</div>
