<div class="card" [formGroup]="addressGroup">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>
            Address 1
            <sup class="required-indicator text-danger font-weight-bold font-size-lg">*</sup>
          </label>
          <input type="text" formControlName="address1" class="form-control" placeholder="1c, South Kevin Colony" />

          <div *ngIf="
                control.address1.touched && control.address1.errors
              " class="error-message">
            <div *ngIf="control.address1.errors.required">
              Address is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Address 2</label>
          <input type="text" formControlName="address2" class="form-control" placeholder="Wingham Street" />
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>
            State
            <sup class="required-indicator text-danger font-weight-bold font-size-lg">*</sup>
          </label>
          <select formControlName="state" class="form-control">
            <option value="" style="display: none">Select</option>
            <option *ngFor="let state of states" [value]="state.state">{{ state.state }}</option>
          </select>
          <div *ngIf="control.state.touched && control.state.errors" class="error-message">
            <div *ngIf="control.state.errors.required">
              State is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="form-group">
          <label>
            City
            <sup class="required-indicator text-danger font-weight-bold font-size-lg">*</sup>
          </label>

          <select formControlName="city" class="form-control">
            <option value="" style="display: none">Select</option>
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>

          <div *ngIf="control.city.touched && control.city.errors" class="error-message">
            <div *ngIf="control.city.errors.required">
              City is required
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
