<div class="page-content pt-0">
  <div class="content-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div *ngIf="role === 'Buyer'" class="row align-items-center bg-white mb-3">
          <div class="col-12">
            <app-content-header header="Products"></app-content-header>
            <app-search (onsearch)="searchFilters($event)"></app-search>
          </div>
        </div>
        <div class="row align-items-center">
          <div *ngFor="let product of productList" class="col-12">
            <app-product-list-item [productInfo]="product"></app-product-list-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
