<div class="page-content pt-0">
  <div class="content-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-12">
              <app-content-header header="Products"></app-content-header>
              <app-search></app-search>
          </div>

        </div>
        <div class="row align-items-center">
          <div class="col-12">
            <app-property-item *ngFor="let product of productList" [view]="'list'" [productInfo]="product">
            </app-property-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
