<div class="page-content pt-0 mt-4">
  <div class="content-wrapper">
    <div class="content">
      <section class="add-associate container">
        <div class="row justify-content-center">
          <div class="col-10">
            <form [formGroup]="followUpForm" (ngSubmit)="registerFollowup()">
              <app-content-header [header]="'Add Follow-Up'"></app-content-header>

              <div class="card">
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="form-group">
                        <label>To</label>

                        <select formControlName="to" class="form-control">
                          <option value="" style="display: none">Select</option>
                          <option *ngFor="let user of stakeHolders" value="{{ user._id }}">{{ user.firstName }}
                            {{ user.lastName }} - {{ user.role }}</option>
                        </select>

                        <div *ngIf="
                            control.to.touched && control.to.errors
                          " class="error-message">
                          <div *ngIf="control.to.errors.required">
                            User is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                      <div class="form-group">
                        <label>Type</label>

                        <select formControlName="type" class="form-control">
                          <option value="" style="display: none">Select</option>
                          <option *ngFor="let type of types" value="{{ type }}">{{ type }}</option>
                        </select>

                        <div *ngIf="
                            control.type.touched && control.type.errors
                          " class="error-message">
                          <div *ngIf="control.type.errors.required">
                            Type is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12" *ngIf="followUpForm.value.type === 'Shedule'">
                      <div class="form-group">
                        <label>Shedule Date</label>
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-calendar22"></i></span>
                          </span>
                          <input type="text" class="form-control daterange-single" value="03/18/2013"
                            formControlName="sheduleDate" />


                        </div>
                        <div *ngIf="
                          control.sheduleDate.touched && control.sheduleDate.errors
                        " class="error-message">
                          <div *ngIf="control.sheduleDate.errors.required">
                            Shedule Date is required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row jusity-content-center">
                    <div class="col-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label>Message</label>
                        <textarea formControlName="query" class="form-control" rows="6"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end align-items-center">
                    <app-form-loader></app-form-loader>
                    <div class="d-flex">
                      <button type="button" class="btn bg-grey ml-3" (click)="location.back()">
                        Back
                      </button>
                      <button type="submit" [disabled]="followUpForm.invalid" class="btn bg-blue ml-3">
                        {{ isEdit ? "Update Follow-Up" : "Add Follow-Up" }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
