<section class="main-home">
  <app-home-header></app-home-header>
  <div class="position-relative">
    <app-carousel [carouselID]="'homeslider'" [sliders]="sliders"></app-carousel>
  </div>

  <div class="container-fluid">
    <div class="row mt-4 mb-4">
      <div class="col-12">
        <app-content-header header="New Offers"></app-content-header>
        <app-product-carousel [sliders]="newOffers"></app-product-carousel>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-6">
        <div class="card mb-0">
          <div class="card-header">
            <h6>E-Auctions Coming Up</h6>
          </div>
        </div>
        <app-auction-list [auctionList]="auctionList"></app-auction-list>
      </div>
      <div class="col-6">
        <div class="card mb-0">
          <div class="card-header">
            <h6>Sales Concluded</h6>
          </div>
        </div>
        <app-sold-list [soldList]="auctionList"></app-sold-list>
      </div>
    </div>
  </div>
</section>
