<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-8">
            <h1 class="p-2 m-2">Associate</h1>
        </div>
        <div class="col-4 text-right">
          <button class="btn bg-teal mr-2">Add Associate</button>
        </div>
      </div>

      <section class="associate-list container-fluid">
        <div class="row">
          <div class="col-12">
              <app-user-info *ngFor="let userInfo of users" [userInfo]="userInfo"></app-user-info>
          </div>
        </div>
      </section>
</div>

