<section *ngIf="!showDetail" class="query-list-container bg-white p-4">
  <div class="query-list-heder d-flex justify-content-between mb-2 align-items-center">
    <h4>Activities</h4>
    <button class="btn bg-grey" (click)="back.emit(true)">Back</button>
  </div>
  <ul class="query-list  pl-4">
    <li *ngFor="let query of queries" class="query-list-item position-relative mb-3">
      <div class="badge badge-success username">
        {{ query.userInfo.firstName }} {{ query.userInfo.lastName }}
      </div>
      <div class="d-flex align-items-center">
        <div class="main-query">{{ query.query }}</div>
        <button class="btn btn-icon message-icon" (click)="select(query)"><i
            class="icon-comment-discussion"></i></button>
      </div>
    </li>
  </ul>
</section>

<app-query-detail (back)="showDetail = false" [query]="selectedQuery" *ngIf="showDetail"></app-query-detail>
