<div id="{{ carouselID }}" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li
      *ngFor="let slider of sliders; let i = index"
      [attr.data-target]="'#' + carouselID"
      [attr.data-slide-to]="i"
    ></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let slider of sliders">
      <img [src]="slider.src" alt="Los Angeles" [attr.width]="slider.width" height="slider.height" />
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#{{ carouselID }}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#{{ carouselID }}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
