<div class="card {{cardDetail.class}}-400">
  <div class="card-body">
    <div class="d-flex">
      <h3 class="font-weight-semibold mb-0">{{ cardDetail.title }}</h3>
      <div class="list-icons ml-auto">
        <div class="list-icons-item dropdown">
          <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a routerLink="{{cardDetail.link}}" class="dropdown-item"><i class="icon-list-unordered"></i>View {{cardDetail.desc}}</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      {{ cardDetail.desc }}
      <div class="font-size-sm opacity-75">{{ cardDetail.subdesc}}</div>
    </div>
  </div>

  <div class="container-fluid">
    <div [attr.id]="cardDetail.id"></div>
  </div>
</div>
